.item-header {
    color: #DF4723;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    line-height: 30px;
}

.item-header:hover {
    color: #fff;
    border-radius: 25px;
    background-color: #DF4723;
    cursor: pointer;
}

.link {
    text-decoration: none;
}